body {
  font-family: "Poppins", "Oswald", sans-serif;
}

.page-title {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  text-align: none;
}

.section-title {
  font-size: 20px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-align: none;
}

.club-list .title {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: none;
}
none .club-list .link {
  text-decoration: none;
}

.club-list .link:hover,
.club-list .link:focus {
  color: cornflowerblue;
  text-decoration: underline;
}

.club-list .link:active {
  color: orangered;
}
